{% extends "board/base.html" %}
{% block title %}목록{% endblock  %}
{% block content %}
    {% if board_list %}
        <table border="1">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
            </tr>
        {% for board in board_list %}
            <tr>
                <th>{{ board.id }}</th>
                <th><a href="#">{{ board.title }}</a></th>
                <th>{{ board.wirter }}</th>
                <th>{{ board.readcount }}</th>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        게시글이 존재하지 않습니다.
    {% endif %}
    <a href="#"><button>등록</botton></a>
{% endblock  %}