{% extends "board/base.html" %}
{% block title %}등록{% endblock  %}
{% block content %}
<form method='post'>
    {% csrf_token %}
    {{ form }}
    <button type="submit">등록</button>
</form>
<form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">등록</button>
</form>
<form method='post'>
    {% csrf_token %}
    {{ form.as_ul }}
    <button type="submit">등록</button>
</form>
{{ form.errors }}
<form method='post'>
    {% csrf_token %}
    제목3: {{ form.title }}[{{ form.title.errors }}]
    작성자3: {{ form.writer }}[{{ form.writer.errors }}]
    내용3: {{ form.content }}
    <button type="submit">등록</button>
</form>
{% endblock  %}