{% extends "minesweeper/base.html" %}
{% load static %}

{% block title %}BeeCareful{% endblock  %}

{% block main %}
<div class="row text-center justify-content-center px-5 fs-4" style="padding-bottom: 7px;">
    <div class="col-2" id="flagCount">깃발</div>
    <div class="col-2" id="stopwatch">00:00</div>
    <div class="col-2">
        <!-- 게임 리셋 버튼 추가 -->
        <button id="resetButton" type="button" class="btn btn-secondary" style="padding-left: 10px;">
            🔄RESET
        </button>
    </div>
</div>
<div class="d-flex justify-content-center">
    <!-- 한 변의 길이는 8(7)으로 -->
    <svg id="board{{ svg_id }}" width="1020" height="450" viewBox="0 0 480 210">
        {% for polygon in polygons %}
        <polygon points="{{ polygon.points }}" id="{{ polygon.polygon_id }}" class='hover'/>
        {% endfor %}
    </svg>
</div>

<h3 class="text-center" id="guide-message" style="padding-top: 7px;">아무 곳이나 눌러 게임을 시작하십시오.</h3>
<div class="row text-center">
    <div class="col" id="bestTime">
        최고기록: 0
    </div>
    <div class="col" id="averageTime">
        평균기록: 0
    </div>
</div>

<!-- 스크립트 파일 가져오기 -->
<script src="{% static 'minesweeper/js/game.js' %}"></script>
{% endblock  %}