polygon.hover {
    fill: gold;
    stroke: peru;
}

polygon.hover:hover {
    fill: lemonchiffon;
}

polygon.game-ended {
    pointer-events: none;
}

polygon.orangered {
    fill: orangered;
}

polygon.revealed {
    fill: peru;
    stroke: sienna;
}

svg text {
    cursor: default;
}

polygon.highlight {
    fill: lemonchiffon;
}
